/* * {
    font-size: 20px;
} */

h1 {
  color: grey;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

form {
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  width: 30vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}


/* Styl dla pól input */
input {
  border: 1px solid #ccc;
  /* Subtelna ramka */
  border-radius: 6px;
  /* Zaokrąglone rogi */
  padding: 8px 12px;
  /* Wewnętrzny odstęp */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  /* Cień wewnętrzny */
  font-size: 14px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  border-color: #888;
  /* Zmiana koloru ramki przy focusie */
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  /* Lekko mocniejszy cień */
  outline: none;
  /* Usunięcie niebieskiej ramki */
}

input,
button {
  width: 80%;
}

/* Styl dla przycisku */
button {
  padding: 1rem;
  /* margines wewnętrzny */
  border-radius: 0.5rem;
  /* zaokrąglone rogi */
  border: none;
  background: linear-gradient(45deg, #ff9800, #ffb74d);
  /* pomarańczowy gradient */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  /* powiększenie po najechaniu */
  box-shadow: 0 4px 12px rgba(255, 152, 0, 0.5);
  /* delikatny cień */
}



@media screen and (max-width: 480px) {
  form {
    width: 100vw;
  }
}

.message {
  color: red;
}